{% extends 'base.html' %}

{% block content %}
    <div class="introduction">
      <h1>Food4Cheap</h1>
      <h3>The team</h3>
    </div>

    <div class="column">
      <div id="information">
        <p>
          We are a team of two Computer Science students at the University of
          British Columbia. Our passion for technology has helped us work
          together to create this project.
        </p>
        <br />
        <br />
        <p>
          For any questions, please feel free to contact us at
          food4cheapheroku@gmail.com
        </p>
        <br />
        <a href="mailto:food4cheapheroku@gmail.com">
          <button id="contact__button">Contact</button>
        </a>
      </div>
    </div>

    <br />
    <br />
{% endblock content %}