{% extends 'base.html' %}

{% block content %}
    <div class="introduction">
      <h1>{{ category.name }}</h1>
      <h3>{{ category.slogan }}</h3>
    </div>

    <div class="items" id="items">
      <div class="items__wrapper">
        {% for product in products %}
        <div class="items__card">
          <p>{{ product.name }}</p>
          <div class="items__btn">
            <button>
              <a href="{{ category.name }}/{{ product.name }}">
                <img src="{{ product.image_url.url }}" alt="Image failed to load"/>
              </a>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock content %}