{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="introduction">
      <h1>Food4Cheap</h1>
      <h3>Welcome to our online market.</h3>
    </div>

    <!--Products section-->
    <div class="products" id="products">
      <div class="products__wrapper">
        <div class="products__card" id="vegetables">
          <p>Vegetables</p>
          <div class="products__btn">
            <button>
              <a href="Vegetables" style="text-decoration: none" >
                <img src="{% static 'Food4CheapProj/Vegetables/Vegetable.jpg' %}" alt="Image failed to load">
              </a>
            </button>
          </div>
        </div>
        <div class="products__card" id="fruits">
          <p>Fruits</p>
          <div class="products__btn">
            <button>
              <a href="Fruits" style="text-decoration: none">
                <img src="{% static 'Food4CheapProj/Fruits/Fruit.jpg' %}" alt="Image failed to load">
              </a>
            </button>
          </div>
        </div>
        <div class="products__card" id="meat">
          <p>Meat</p>
          <div class="products__btn">
            <button>
              <a href="Meats" style="text-decoration: none">
                <img src="{% static 'Food4CheapProj/Meats/Meat.jpg' %}" alt="Image failed to load.">
              </a>
            </button>
          </div>
        </div>
        <div class="products__card" id="seafood">
          <p>Seafood</p>
          <div class="products__btn">
            <button>
              <a href="Seafoods" style="text-decoration: none">
                <img src="{% static 'Food4CheapProj/Seafoods/Seafood.jpg' %}" alt="Image failed to load.">
              </a>
            </button>
          </div>
        </div>
        <div class="products__card" id="dairy">
          <p>Dairy</p>
          <div class="products__btn">
            <button>
              <a href="Dairy" style="text-decoration: none">
                <img src="{% static 'Food4CheapProj/Dairys/Dairy.jpg' %}" alt="Image failed to load.">
              </a>
            </button>
          </div>
        </div>
        <div class="products__card" id="baked-goods">
          <p>Baked Goods</p>
          <div class="products__btn">
            <button>
              <a href="Baked Goods" style="text-decoration: none">
                <img src="{% static 'Food4CheapProj/Baked Goods/Baked Good.jpg' %}" alt="Image failed to load.">
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}