{% extends 'base.html' %}

{% block content %}
    <div class="introduction">
      <h1>Food4Cheap</h1>
      <h3>Welcome to our online market.</h3>
    </div>

    <div id="login">
      <form id="login-info" method="POST">
        <h1>Login</h1>
        <br />
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        <br />
        <br />
        {{ form.password1.label }}
        {{ form.password1 }}
        <br />
        <br />
        <input type="submit" id="submit-btn" value="Login" /><br />
        <br />
      </form>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message|safe }}
            </li>
        {% endfor %}
        </ul>
      {% endif %}
      <br />
      <a href="/Signup">New user? Click here.</a>
      <br />
      <br />
    </div>
{% endblock content %}