{% extends 'base.html' %}

{% block content %}
    <div class="introduction">
      <h1>{{ category.name }}</h1>
      <h3>{{ category.slogan }}</h3>
    </div>

    <div class="description">
      <img src="{{ product.image_url.url }}" alt="Image failed to load"/>
      <div class="information">
        <h2 class="product__name">{{ product.name }}</h2>
        <table>
          <tr>
            <th class="title">Nutrition Facts</th>
          </tr>
          <tr>
            <th>Serving Size: {{ product.serving_size }} </th>
          </tr>
          <tr>
            <th>Calories: {{ product.calories }}</th>
          </tr>
          <tr>
            <th>Total Fat: {{ product.fat }}g</th>
          </tr>
          <tr>
            <th>Total Carbohydrates: {{ product.carbohydrates }}g</th>
          </tr>
          <tr>
            <th>Protein: {{ product.proteins }}g</th>
          </tr>
        </table>
        <br />
        <p class="purchase__information">CAD ${{ product.price }}0/{{ product.measurement }}</p>
        <br />
        <form action="" method="POST">
          {% csrf_token %}
          {{ form }} ({{ product.measurement }})
          <input class="add__cart" type="submit" value="Add to cart" onclick="add()"/>
        </form>
        <br />
        {% if messages %}
          {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message|safe }}
              </li>
            {% endfor %}
        {% endif %}
        <br />
      </div>
    </div>
{% endblock content %}